.modal-body {margin-bottom:15px;}



/*2017-02-28  AddNewStyle__liuxin*/
body{width:100%;overflow-x:hidden;}.container{padding:0 0 30px;}
.row{margin:0 auto;padding:0 15px;}
.container-fluid>.navbar-header{margin:0 auto;}
.container-fluid{padding-left:0;padding-right:0;}
.cf::after{content:"";display:block;clear:both;}
.container .set_menu{text-align:right;padding:0;}
.container .nicks{padding-bottom:15px;border-bottom:1px solid #eee;}
.nicks .col-xs-6,.nicks.col-sm-12,.login_m{padding-left:0;padding-right:0;line-height:50px;}
h4.menu_til{line-height:40px;border-bottom:1px solid #eee;margin-bottom:0;}
h4.menu_til span{font-size:14px;color:#069;}
.col-sm-12.acc_data{padding-left:0;padding-right:0;}
.acc_data h3{font-size:16px;line-height:34px;margin-top:10px;padding-bottom:6px;border-bottom:1px solid #eee;}
.acc_data ul li{line-height:30px;}
.acc_data li span:first-child{color:#777;}
.col-sm-12.tab-content{padding:0;}
.page-footer{line-height:40px;border-top:1px solid #eee;background:#fff;}
.form-group{text-align:center;padding-top:15px;}
.img-circle{border:1px solid #ddd;width:50px;height:50px;}
.change_pwd .col-xs-12 label{line-height:34px;margin:0;font-weight:normal;padding-top:10px;color:#777;}
.change_pwd{padding:0 0 15px;}
.change_pwd .msg{padding:8px 15px;color:#f00;}
.dropdown-menu{width:100%;min-width:inherit;right:0;left:inherit;}
.dropdown-menu>li{text-align:center;}
.dropdown-menu>li>a{padding:3px 10px;}
.btn-group button{width:104px;}
.navbar-default .navbar-nav>li>a{padding-left:25px;}
.form-body label{margin:0;line-height:34px;padding:0;text-align:right;}
.form-body .form-group{margin-bottom:0;}
.form-body .col-md-10,.per_cen{padding:0;}   
.error{font-weight:normal;color:#f00;}
div.dataTables_length select{width:60px;}
.dataTables_length .form-control{padding:6px 5px;}
.dataTables_empty{text-align:center;}
.table-bordered>tbody>tr>td{border-top:none;}
.list_con{padding:8px 0 15px;}
.table tbody td:first-child .open,.table tbody td:first-child .btn-group{width:76px;}
.per_cen .fade{display:none;}
.per_cen .fade.in{display:block;}
.col-md-12.per_cen{padding-top:20px;}
.per_list a{width:32%;}
.per_list a>span{display:block;line-height:26px;}
.log_mail p{line-height:38px;margin:0;}
.log_mail p a,.log_mail p>span{margin-right:10px;}
.page-footer{width:100%;position:fixed;bottom:0;left:0;}
.new_poto{margin:8px 0 0 10px;}
label .required,.modal-body .col-xs-12 label{color:#f00;}
label .required{padding-left:8px;}
.modal-body .col-xs-12 label{line-height:30px;margin:0;}
.modal-body .form-group{margin-bottom:0;line-height:34px;}
.modal-body .form-group .account{text-align:left;}
.form-horizontal .control-label{padding:0;}


/*gm style**/
blockquote{padding:10px 15px;}
blockquote small{line-height:38px;}

/*index_login style*/
p.login_til{margin:0;line-height:32px;border-bottom:1px solid #eee;}
.popover-content .col-xs-16{margin-top:10px;}
.login_msg{line-height:30px;padding-top:6px;color:#f00;}


@media screen and (max-width:768px){
	.table-responsive{border:none;}
	.dropdown-menu>li>a{font-size:12px;}
	.table-bordered>tbody>tr>td{font-size:12px;}
	.per_list{border-bottom:1px solid #eee;}
	.col-md-12.per_cen{padding:0;}
	.col-sm-8.per_cen{padding-top:10px;}
	.log_mail p{line-height:30px;}
	.carousel-control{line-height:12rem;}
	.carousel-indicators{bottom:0;}
	.modal-body .form-group .account{text-align:center;}
}
@media screen and (max-width:414px){	
	.carousel-indicators{bottom:-10px;}
	.carousel-control{line-height:7rem;}
}

@media screen and (max-width:375px){	
	.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
		font-size:12px;font-weight:normal;
	}
}
@media screen and (max-width:320px){
	h4.menu_til{font-size:15px;}
	.pagination>li>a, .pagination>li>span{padding:5px 10px;}
	div.dataTables_length select.form-control{margin-top:2px;height:32px;}
	.btn-group button{width:94px;}
	.dropdown-menu>li>a{padding:2px;}
}





