div, ul, li {
	/* margin: 0px;
	padding: 0px;
	list-style-type: none; */
}

#Over {
	position: absolute;
	width: 100%;
	z-index: 100;
	left: 0px;
	top: 0px;
}

.img {
	width: 90%;
	background-color: #FFF;
	height: 90%;
}

.EnlargePhoto {
	cursor: pointer;
}

.TempContainer {
	position: absolute;
	z-index: 9999;
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}


.box_div{
	overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.3);
    left: 0;
    top: 0;
    z-index: 999;
}
.hide_tips{
	display: none;
}