<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/mvc 
		 http://www.springframework.org/schema/mvc/spring-mvc.xsd
		 http://www.springframework.org/schema/data/jpa
         http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
         http://www.springframework.org/schema/util
         http://www.springframework.org/schema/util/spring-util.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop.xsd
         " default-autowire="byName">
	<description>SPRING MVC 配置</description>

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<context:component-scan base-package="com.hitler.web,com.hitler.io">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<mvc:resources location="/resources/" mapping="/resources/**" />
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<!-- 公共数据拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<ref bean="commonDataInterceptor" />
		</mvc:interceptor>

		<!-- 主题拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<ref bean="themeChangeInterceptor" />
		</mvc:interceptor>

		<!-- 国际化拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<ref bean="localeChangeInterceptor" />
		</mvc:interceptor>
		<!-- token -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<ref bean="tokenInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="tokenInterceptor" class="com.hitler.web.interceptor.TokenInterceptor"></bean>
	<bean id="themeChangeInterceptor"
		class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
		<property name="paramName" value="theme" />
	</bean>
	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="locale" />
	</bean>

	<bean id="commonDataInterceptor" class="com.hitler.web.interceptor.CommonDataInterceptor">
		<property name="config">
			<map>
				<entry key="ws_path" value="localhost:8080/jt-io/" />
			</map>
		</property>
	</bean>

	<bean id="themeResolver"
		class="org.springframework.web.servlet.theme.CookieThemeResolver">
		<property name="defaultThemeName" value="hero" />
		<property name="cookieName" value="theme" />
		<property name="cookieMaxAge" value="-1" />
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="zh_CN" />
		<property name="cookieName" value="locale" />
		<property name="cookieMaxAge" value="-1" />
	</bean>

	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager">
			<bean
				class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
				<property name="mediaTypes">
					<map>
						<entry key="json" value="application/json" />
						<entry key="xml" value="application/xml" />
					</map>
				</property>
				<property name="favorParameter" value="true" />
			</bean>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="com.hitler.core.web.view.MappingJacksonView"></bean>
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<property name="marshaller">
						<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
							<property name="packagesToScan" value="com.hitler"></property>
						</bean>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="prefix" value="/WEB-INF/view/foreweb" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="order" value="0" />
		<property name="suffix" value=".html" />
		<property name="contentType" value="text/html;charset=UTF-8"></property>
		<property name="viewClass"
			value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		<property name="exposeSpringMacroHelpers" value="true" />
	</bean>

	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/view/hero" />
		<property name="freemarkerSettings">
			<props>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="template_update_delay">5</prop>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="boolean_format">true,false</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="number_format">0.##</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="classic_compatible">true</prop>
			</props>
		</property>
	</bean>

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="messageSource" />
	</bean>


	<bean id="messageSource"
		class="com.hitler.core.web.utils.ReloadableResourceBundleMessageSource">
		<property name="cacheSeconds" value="-1" />
		<property name="basenames">
			<list>
				<value>classpath*:conf/i18n/messages</value>
				<value>classpath*:conf/i18n/ui</value>
			</list>
		</property>
	</bean>

	<mvc:annotation-driven validator="validator">
		<mvc:async-support default-timeout="30000" />
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
		<mvc:argument-resolvers>
			<bean
				class="org.springframework.data.web.PageableHandlerMethodArgumentResolver">
				<constructor-arg index="0">
					<bean class="com.hitler.core.web.resolver.SortArgumentResolver" />
				</constructor-arg>
			</bean>
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="2097152"></property> <!-- 2M以内 -->
	</bean>

</beans>