<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>客服系统_在线聊天</title>
<link type="text/css" rel="stylesheet"
	href="${ctx}/resources/hero/css/date_time.css">
<link type="text/css" rel="stylesheet"
	href="${ctx}/resources/hero/css/service.css">
<link type="text/css" rel="stylesheet"
	href="${ctx}/resources/hero/css/imgbox.css">
<script type="text/javascript">
	var ctx = "${ctx}";
</script>
</head>
<body class="chart_bg">
<div id="tipsDiv">
	<div class="tip-content hide_tips">
	</div>
	<div id="leaveDiv" class="tip-leave" style="display:none">
	<h1 class="leave-title">留言板</h1>
	<div class="leave-con">
		<ul>
		<!-- <li>
		<h2>2017-01-01 15:20:00</h2>
		<p>sdfsf sf sadf asf sdf af sdf撒旦法iueoiaupwfiueiaflkj乐佳awe房价降幅未来科技罚款为巨额flaw俄警方列为积分 让空间来看金额垃圾饿啦俄垃圾饿</p>
		</li>
		<li>
		<h2>2017-01-01 15:20:00</h2>
		<p>sdfsf sf sadf asf sdf af sdf撒旦法iueoiaupwfiueiaflkj乐佳awe房价降幅未来科技罚款为巨额flaw俄警方列为积分 让空间来看金额垃圾饿啦俄垃圾饿</p>
		</li> -->
		</ul>		
	</div>
	<div class="leave-text">
	<textarea class="leave-input" placeholder="说些什么"></textarea>
	<a href="javascript:void(0);" class="leave_txt">提交留言</a>
	</div>
</div>	
</div>
	<div id="Over"></div>
	<!--聊天窗口-->
	<div class="chart_box visitor_box" id="visitorBox"
		onclick="stopBlinkNewMsg()">
		<div class="chart_right right">
			<div class="chart_til">
				<input type="hidden" id="layId" />
				<span class="user_name" id="server_name"></span>
				<div class="user-self">您好!&nbsp;<b id="user_name"></b></div>
				<!--<a class="close close_chart" href="javascript:void(0);"></a>-->
			</div>
			<div class="chart_con cf">
				<div class="talk_cn">
					<div class="talk_list" id="talkList">
						<!-- <dl class="cf other">
                        <dt><img src="${ctx}/resources/hero/img/service.jpg"></dt>
                        <dd>
                            <span class="send_time">07-11 16:21</span>
                            <div class="send_con">您好，请问需要什么帮助?</div>
                        </dd>
                    </dl> -->
					</div>
					<div class="talk_send cf">
						<input type="file" id="file"
							name="file" onchange="changeFile();" style="display: none;" />
						<div class="pictures" onclick="$('#file').click()">图片</div>
						<div class="brows emotion">表情</div>
						<div class="quick_write" onclick="historyRecord();">聊天记录</div>
					</div>
					<div class="talk_input">
						<label><textarea class="write" id="inputext"
								placeholder="说些什么" type="0"></textarea></label> <a
							href="javascript:void(0);" class="send_txt send_btn">发送</a>
					</div>
				</div>
				 <!--历史记录-->
	            <div class="history_list">
	            	<div class="list_con visitor_his" id="chatHistory"></div>
	            	<div class="back_talk" id="backTalk">返回聊天</div>
	            	<div class="history_page pages">
						<div class="srech_time" id="srechTime"><!-- <span>日期：</span> -->
						<label>
							<input id="sendTime" name="sendTime" placeholder="开始日期" class="laydate-icon">
							<input id="sendTimeEnd" name="sendTimeEnd" placeholder="结束日期" class="laydate-icon">
						</label><a href="javascript:void(0);" onclick="historyRecord();">搜索</a></div>
						<div class="page_num"><span class="prev_page"><a href="javascript:void(0);" class="cur">1</a><span class="next_page"></span></div>
					</div>
	            </div>
			</div>
		</div>
	</div>
	
	<div style="display: none;">
		<audio id="noteEndAudio">
			<source src="${ctx}/resources/hero/audio/deng.mp3" type="audio/mpeg"></source>
		</audio>
	</div>
	<script src="${ctx}/resources/hero/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		var WS_PATH = '${preference["ws_path"]}';
		var SERVER_PATH = '${ctx}';
		var protocol = '${protocol}';
		var company_id = '${company.id}';
		var pr=JSON.parse(protocol);
		var layId = $("#layId").val();

		/**用户上线*/
		function openOnline() {
			//类型为空正常连接  分组是否有数据
			//类型不为空按选择类型连接
			var PRO_ = covert(protocol);
			var lay = '${layers?size}';
			 
			$("#user_name").text(PRO_.username);
			if (lay == 0) {
//				var full = covertProtocol(protocol, "用户上线");
//				socket.send(full);
				sendLayerMsg(null);
				$("#user_name").text(PRO_.username);
			} else {
				showLayerSct(PRO_);
				//等待选择类型进行连接
			}
			//layer.msg(' ^v^ 连接成功!!!');
		}
		function reSelLayer(PRO_){//重新选择类型
			showLayerSct(PRO_);
		}

		function userOnline(PRO_) { //用户连接成功并成功分配客服之后
			$("#server_name").text(PRO_.username);
			$("#server_name").attr("data-id","");
			$("#tipsDiv .tip-content").addClass("hide_tips");
			$("#layId").val(PRO_.layerId);
			var autoReply=PRO_.body;
			PRO_.body = "客服: " + PRO_.username + " 为您服务!";
			showSysMsg(PRO_);
			if(autoReply==''||autoReply==null||autoReply==undefined){
				autoReply="您好!很高兴为您服务";
			}
			PRO_.body=autoReply;
			showTextMsg(PRO_,PRO_.uid);
			$("#tipsDiv").removeClass("Over-2");
			$("#errorMsg").text("");
		}

		function showLayerSct(PRO_) {
			$("#tipsDiv").addClass("Over-2");
			$("#tipsDiv .tip-content").removeClass("hide_tips");
			var html = "";
			html += "<div>尊敬的 <span> " + PRO_.username
					+ "</span> 很高兴为您服务！请问您需要咨询哪类问题?</div>";
			<#list layers as l>
			html += "<a href=\"javascript:void(0);\" onclick=\"sendLayerMsg("
					+ '${l.id}' + ")\">" + '${l.layerName}' + "</a>";
			</#list>
			html += "<p><d id=\"errorMsg\"></d></p><a href='javascript:void(0);' class='leaveBtn' style='display:none'>问答机器人</a>";
			$(".tip-content").html(html);
			
		}
		function showSysMsg(PRO_) {
			if(!$("#tipsDiv .tip-content").hasClass("hide_tips")){
				$("#errorMsg").text("");
				setTimeout(function(){
					$("#errorMsg").text(PRO_.body);
					$("#layId").val(PRO_.layerId);
					$(".leaveBtn").show();
				}, 800);
				return;
			}
			if(PRO_.state == STATES.OFFLINE){
				$("#inputext").attr("readOnly","readOnly");
				PRO_.body = PRO_.body + ",请刷新页面重新连接！";
				$("#file").attr("disabled","disabled");
				$("#inputext").attr("disabled","disabled");
				$(".talk_input a").removeClass("send_txt");
				$("#server_name").addClass("icon_dot");
			}	
			var html = "<p class=\"system_mess\">-- " + PRO_.body
					+ new Date().format('hh:mm:ss') + " --</p>";
			$("#visitorBox #talkList").append(html);
			$("#talkList").scrollTop($("#talkList")[0].scrollHeight);
			playAudio();
		}

		//选择客服类型
		function sendLayerMsg(layerId) {
			var pro_json = covertLayer(protocol, layerId);
			socket.send(pro_json);
			$("#layId").val(layerId);
		}

		/**用户离线*/
		function closeOffline(evt) {
			socket.send('3232');
			layer.alert("用户离线");
		}
		//声音提醒
		function playAudio() {
			if ($("#noteEndAudio").length > 0) {
				$('#noteEndAudio').get(0).play();
			}
		}
		//新消息提示
		var g_blinkid = 0;
		var g_blinkswitch = 0;
		var g_blinktitle = document.title;

		function blinkNewMsg() {
			document.title = g_blinkswitch % 2 == 0 ? "【　　　】 - " + g_blinktitle
					: "【新消息】 - " + g_blinktitle;
			g_blinkswitch++;
		}
		function stopBlinkNewMsg() {
			if (g_blinkid) {
				clearInterval(g_blinkid);
				g_blinkid = 0;
				document.title = g_blinktitle;
			}
		}

		/**显示文本消息*/
		function showTextMsg(msg, userId) {
			playAudio();
			if (!g_blinkid)
				g_blinkid = setInterval(blinkNewMsg, 1000);
			var html = '<dl class="cf service">';
			html += '<dt><img src="${ctx}/resources/hero/img/service.jpg"></dt>';
			html += '<dd><span class="send_time">'
					+ new Date().format('hh:mm:ss') + '</span>';
			html += '<div class="send_con">'
					+ (msg.body.indexOf("em_") > 0 ? replace_em(msg.body)
							: msg.body) + '</div>';
			html += '</dd></dl>';
			$("#talkList").append(html);
			setTimeout(function() {
				$("#talkList").scrollTop($("#talkList")[0].scrollHeight);
			}, 100)
		}

		function displayImg(chartUrl) {
			var html = "<dl class='cf other'>"
					+ "<dt><img src='"+SERVER_PATH+"/resources/hero/img/user_img1.jpg'></dt>"
					+ "<dd><span class='send_time'>"
					+ new Date().format('hh:mm:ss')
					+ "</span><div class='send_con'><img style=\"width: 100%;\" class=\"view\" src='"
					+ chartUrl + "'></div></dd></dl>";
			$("#talkList").append(html);
			//$("#talkList").scrollTop($("#talkList")[0].scrollHeight);
			var talkList = document.getElementById("talkList");
			//talkList.scrollTop = talkList.scrollHeight;
			setTimeout(function() {
				talkList.scrollTop = talkList.scrollHeight;
			}, 100)
		}

		/**显示图片消息*/
		function showImgMsg(PRO_) {
			playAudio();
			if (!g_blinkid)
				g_blinkid = setInterval(blinkNewMsg, 1000);
			var html = '<dl class="cf service">';
			html += '<dt><img src="${ctx}/resources/hero/img/service.jpg"></dt>';
			html += '<dd><span class="send_time">'
					+ new Date().format('hh:mm:ss') + '</span>';
			html += '<div class="send_con"><img style="width: 100%;" class="view" src="'
					+ PRO_.body + '"></div>';
			html += '</dd></dl>';
			$("#talkList").append(html);
			setTimeout(function() {
				$("#talkList").scrollTop($("#talkList")[0].scrollHeight);
			}, 100);

		}

		//file值发生变化
		function changeFile() {
			var file_value = $("#file").val();
			if (file_value != null && file_value != undefined) {
				var index = file_value.lastIndexOf("\\");
				file_value = file_value.substring(index + 1, file_value.length);
				if (file_value.length > 20) {
					file_value = file_value.substring(0, 20) + "...";
				}
				ajaxFileUploads();
				//$("#msgText").val(file_value);
				//type值为1 表示文本消息发送
				//$("#sendDiv").attr("type", "1");
			}
		}
		/** 上传图片 */
		function ajaxFileUploads() {
			var file_value = $("#file").val();
			if (file_value == '' || file_value == null
					|| file_value == undefined) {
				layer.alert("请先选择图片!");
				return;
			}
			var houzui = file_value.substring(file_value.lastIndexOf(".") + 1,
					file_value.length);
			if (houzui == '' || houzui == null || houzui == undefined) {
				layer.alert("请选择正确图片格式!");
			}
			houzui = houzui.toLowerCase()
			if (houzui == 'jpg' || houzui == 'gif' || houzui == 'png'
					|| houzui == 'bmp' || houzui == 'swf') {
				//图片等待处理

				//上传图片
				$.ajaxFileUpload({
					url : '${ctx}/upload/img',
					secureuri : false,
					fileElementId : 'file',
					dataType : 'json',
					success : function(data, status) {
						if (data.result == "0") {
							var url = data.remoteurl;
							displayImg(url);
							var id = ($("#server_name").attr("data-id") != undefined && $("#server_name").attr("data-id") != "") ?$("#server_name").attr("data-id"):-1;
							socket.send(userSendImg(id,
									$("#user_name").text(), pr.uType, url));
						} else if (data.result == "1") {
							layer.alert("请先选择图片！");
						} else {
							layer.alert("上传出现异常！");
						}
					},
					error : function(data, status, e) { //相当于java中catch语句块的用法
						layer.alert("发生异常,上传失败!");
						$("#10001").remove();
					}
				});
			} else {
				layer.alert("图片格式不正确!当前只支持jpg/gif/png/bmp/swf格式.");
			}
		}
	</script>
	<script src="${ctx}/resources/global/js/plugin/layer/layer.js"></script>
	<script src="${ctx}/resources/global/js/template.js"></script>
	<script src="${ctx}/resources/hero/js/dateformat.js"></script>
	<script src="${ctx}/resources/hero/js/pic-updown.js"></script>
	<script src="${ctx}/resources/hero/js/page.js"></script>
	<!-- 格式化日期 -->
	<script src="${ctx}/resources/global/js/qq_face/jquery.qqFace.js"></script>
	<script src="${ctx}/resources/hero/js/ws/visitor_chart.js"></script>
	<script type="text/javascript" src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
	<script src="${ctx}/resources/global/js/ws/websocket.js"></script>
	<script type="text/javascript"
		src="${ctx}/resources/global/js/ajaxfileupload.js"></script>
	<script src="${ctx}/resources/global/js/calendar/laydate.js"></script>
	<script>
	!function(){
		laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
		laydate({elem: '#demo'});//绑定元素
	}();
	</script>
</body>
</html>