<!-- 基础设置块 -->

<div class="btn-group">
	 
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown">基础配置<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">#</a></li>
			<li><a href="#">#</a></li>
			<li><a href="#">#</a></li>
		</ul>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">支付管理<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">#</a></li>
			<li><a href="#">#</a></li>
			<li><a href="#">#</a></li>
		</ul>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">游戏管理<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="${ctx}/back/game/MKLN" data-toggle="modal" data-target="#ajax-modal">生成期号</a></li>
			<li><a href="${ctx}/back/game/LTSHD" data-toggle="modal" data-target="#ajax-modal">启动游戏</a></li>
		</ul>
	</div>
	[@shiro.hasRole name="administrator"]
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown">
			用户管理<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="${ctx}/oc/company/index">公司管理</a></li>
			<li><a href="${ctx}/back/admin/role">角色管理</a></li>
			<li><a href="${ctx}/back/admin/permission">权限管理</a></li>
		</ul>
	</div>
	[/@shiro.hasRole]
</div>
<div id="ajax-modal-large" class="modal fade bs-modal" tabindex="-1" data-backdrop="static" data-keyboard="false"></div>
